.form {
	padding: 32px;
	background-color:#aaa;
}


.form .form-group {
	margin-bottom: 16px;
	background-color: rgb(255, 240, 242);

	.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
